# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
client/dist-ssr/
*.apk

# Environment variables / secrets
.env
.env.local
.env.*.local
server/.env

# Local Databases / user data
server/data/db.json

# IDE / Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Temporary / Scratch files
scratch/
logs
*.log
npm-debug.log*
